<div class="row">
    <div class="col-md-4 offset-4">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgkhfo7BVwc3zYS9KrwK2jWEXYydCMAxxh69MjAGyAJB3hk5Q5&s"
            alt="" class="card-img-top">
            <div class="card-body">
                <h3>30 $</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, aperiam.</p>
            </div>
           <div class="card footer">
                <form action="/checkout" method="post">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_JrF2hjRK825TkUGK7zvrwLmp00njmV35KS"
                    data-name="Jhonatan Padilla"
                    data-description="widget"
                    data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgkhfo7BVwc3zYS9KrwK2jWEXYydCMAxxh69MjAGyAJB3hk5Q5&s"
                    data-locale="auto"></script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0]
                        .style.display='none';
                    </script>
               <button class="btn btn-dark btn-block">Buy</button>
            </form>
             
           </div>
        </div>
    </div>
</div>